 
    


   

     
    


   

    body > div > header {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
    
        body > div > header > nav {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-end;
        }
        
        ul {
         display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        }
        
        .Onglets {
            display: flex;
           width: 100%;
           flex-wrap: wrap;
           justify-content: space-around;
           align-items: center;
           }


        .logo {
         width: 100%;
         height:0px
        }
    
        body > div > header > div > a {
        
        display: flex;
        
        margin-top: 20px;
        }

        header > nav > ul > li > a {
            text-decoration: none;
            color: var(--black);
            padding: 20px;
        }
        
        .hebergement {
            width: 50%;
            order: 1;
            display: flex;
            border-bottom: 3px solid #f2f2f2;
            justify-content: center;
        }
        .hebergement:hover {
            border-bottom: 3px solid #0065FC;
        }
        
        body > div > header > nav > ul > li.onglet-nav.activite_nav {
            width: 50%;
           display: flex;
           order: 2;
           justify-content: center;
           border-bottom: 3px solid #f2f2f2;
           }

        body > div > header > nav > ul > li.onglet-nav.activite_nav:hover {
           
           border-bottom: 3px solid #0065FC;
           }     
        
    
        .inscription {
            display: flex;
            width: 100%;
            height: 50px;
            justify-content: flex-end;
        }
        
        
        
        /* changer la barre de rech */
        #section {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            flex-wrap: nowrap;
        }
        .barreRecherche {
            width: 100%;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .button {
            height: 50px;
            width: 50px;
            color: white;
            background-color: #0065FC;
            border-radius: 10px;
        }
    
        #section > form > div > button > span {
            display:none;
        }
    
    
        /* filtre  a mettre dans une seule div*/
        .logoIcone {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        }
        .filtreIcone {
            border: 2px solid rgb(224, 223, 223);
            height: 50px;
            border-radius: 30px;
            margin-right: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 5px;
            align-content: center;
        }
        .filtreIcone i {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                width: 52px;
                height: 52px;
                
            }
        
        .filtre {
            margin-top: 50px;
        margin-bottom: 40px;
        width: 100%;
        font-weight: bold;
        }
    
        .titreH3 {
            width:100%
        }
    
        /* info */
        .inputSearch {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: none;
            width: 100%;
            border: 1px solid #f2f2f2;
            padding-left: 20px;
        }
    
        /* hebergement a marseille */
    
        #hebergement {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        margin-bottom: 100px;
        width: 100%;
        /* align-items: center; */
        }
    
        #hebergements_a_marseille {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            padding: 10px;
            height: auto;
            flex-wrap: nowrap;
        }
    
        .placement_photo {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex-wrap: nowrap;
        }
    
        .box_carte {
            display: flex;
            border: 3px solid white;
            border-radius: 20px;
            padding: 5px 5px 10px 5px;
            background-color: white;
            margin-bottom: 28px;
            transition: transform .1s;
            flex-direction: column;
            background-color: white;
            border-radius: 15px;
            padding: 5px;
            overflow: hidden;
            box-shadow: 0px 0px 10px #d2d2d2;
        }
    
        #hebergements_a_marseille > div.placement_photo > a > div > picture > img {
            object-fit: cover;
            width: 100%;
            height: 140px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    
        .hebergement_contenu {
            flex-direction: column;
            width: 100%;
            font-size: 14px;
            height: auto;
        }
    
    
        /* Aside */
    
        #hebergements_populaires {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 20px;
        padding: 10px;
        margin-bottom: 100px;
        height: auto;
        flex-wrap: nowrap;
    }
    .hebergement_les_plus_populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    
    .box_populaire_carte {
        border: 3px solid white;
        border-radius: 20px;
        display: flex;
        background-color: white;
        padding: 6px 0px 6px 6px;
        margin-bottom: 40px;
        flex-wrap: nowrap;
        flex-direction: row;
        transition: transform .1s;
    }
        
    
    .hebergement_populaire_contenu {
        width: 161px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 7px 0px 7px 20px;
        
    }
    
    .lien_heber {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    @media screen and (max-width: 480px) {
        .lien_heber {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            width: 67%;
        }

        .hebergement_populaire_contenu {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            /* margin-left: 20px; */
            height: 100%;
            padding: 7px 0px 24px 20px;
            align-items: center;
            justify-content: flex-start;
        }
    }
    


    #hebergements_populaires > div > div > picture {
        width:100%
    }
    
    
    #hebergements_populaires > div > div > picture > img{
        width: 100%;
        height: 132px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    
    
    
    
    
    .titre_populaire_contenu {
        font-size: 11px;
    }
        
    /* activite a marseille */
    
    #Activités_à_Marseille {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding:10px;
    }
    #Activités_à_Marseille h1 {
        font-size: 27px;
    }
    
    .activites {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    
        .activites h2 {
            FONT-SIZE: 16px;
            font-weight: bold;
            color: black;
            margin-left: 40px;
        }
    
        
    
        .activite1, .activite2, .activite3,
        .activite4, .activite5, .activite6 {   
         width: 100%;
        background-color: white;
        
        
        box-shadow: 0 0 20px #0000002e;
        margin: 30px auto 0px;
        border-radius: 15px;
        }
    
       #Activités_à_Marseille > div > div.activite1 > a > div.photo_activite1 > picture > img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        }
    
        #Activités_à_Marseille > div > div.activite2et3 > div.activite2 > a > div.photo_activite2 > picture > img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        }
    
        #Activités_à_Marseille > div > div.activite2et3 > div.activite3 > a > div.photo_activite3 > picture > img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        }
    
        #Activités_à_Marseille > div > div.activite4 > a > div > picture > img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        }
    
        #Activités_à_Marseille > div > div.activite5et6 > div.activite5 > a > div.photo_activite5 > picture > img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        }
    
        #Activités_à_Marseille > div > div.activite5et6 > div.activite6 > a > div.photo_activite6 > picture > img{
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        }
    
    
        .activite2et3, .activite5et6 {
            width: 100%;
    
        }
        #Activités_à_Marseille > div > div.activite5et6 > div.activite6 > a > div.titre_activite6{
            display: flex;
        }
        #Activités_à_Marseille > div > div.activite5et6 > div.activite5 > a > div.titre_activite5{
            display: flex;
        }
        #Activités_à_Marseille > div > div.activite2et3 > div.activite2 > a > div.titre_activite2{
            display: flex;
        }
    
        #Activités_à_Marseille > div > div.activite2et3 > div.activite3 > a > div.titre_activite3{
            display: flex;
        }
    
        .footer {
            display: flex;
            flex-direction: column;
            background-color: #f2f2f2;
            padding: 20px;
            margin-top: 30px;
        }
    
        .footer h4{
            font-weight: normal;
        }
    
    
    
    
    
    
    
    
    
        
    